.mode-select { 
  display: inline-flex;
  flex-direction: column; 
  font-family: monospace;
  align-items: flex-start; 
  white-space: nowrap; 
}

.mode-select h2 {
	text-align: center; 
  margin: 0;
  margin-bottom: 0.2em;
  font-size: 1.3em;
}

.mode-select input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
  margin-left: 0;
}