.key {
	box-sizing: border-box;
	position: absolute;
}

.white-key { 
	background: white;
	border: 2px solid black;  
	min-width: 25px; 
	z-index: 1;
}

.black-key {
	background: black;
	min-width: 16.25px; 
	z-index: 2;
}

.white-key.key-over {
	background: #6696ff;
}
.black-key.key-over {
	background: #4646bd;
}

.white-key.key-down {
	background: #0d59ff;
}
.black-key.key-down {
	background: #212187;
}