.play-button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.6em;
	border-radius: 100%;
}

.play-button:hover {
	background: #6696ff;
}

.play-button:active {
	background: #0d59ff;
}

.play-button-down {
	background: #0d59ff;
}