$border-color: black;
$background-color: #cecece;
$correct-color: #328708 !important;
$correct-color-hover: #3db102 !important;
$incorrect-color: red !important;
$incorrect-color-hover: #ff3939 !important;
