* {
	box-sizing: border-box;
	font-family: monospace;
}

.pianoContainer { 
	display: flex;
	height: 19em; 
}

.piano {  
    height: 100%; 
}

.topPiano {
	height: 40%;
	background-color: #cecece;
	
	border-top: 4px solid black;
	border-left: 4px solid black;
	border-right: 4px solid black;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.topPianoRight {
	height: 65%;
}

.pianoDisplay { 
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
	height: 85%;
    width: 100%;
	background-color: white;
	border: 2px solid black;
	border-radius: 0.5em;
}

.keyDisplay { 
	width: 100%;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.playButtonContainer {
	width: 100%;
    height: 40%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.playButton {
	width: 1em;
    height: 1em;
    border-radius: 100em;
    background-color: #03A9F4;
    border: 2px solid black;
    display: none;
}

.keys { 
	height: 60%;
	background-color: #cecece; 
	padding: 0 1em; 
    padding-bottom: 1em;

	border-left: 4px solid black;
	border-right: 4px solid black;
	border-bottom: 4px solid black;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
}

.octave {   
    height: 100%; 
    position: relative; 
}

.whiteKey {
	width: 3em;
	height: 100%;
	border: 2px solid black;
    border-right: none;
	position: absolute;
	background-color: white;
	z-index: 1;
}

.whiteKey:last-child {
	border-right: 2px solid black;
}

.whiteKey:hover {
	background-color: #2468ff;
}

.whiteKey:active {
	background-color: #0f2a67;
}

.blackKey {
	width: 2em;
	height: 65%;
    background-color: black;
    position: absolute;
   	z-index: 100;
}

.blackKey:hover {
	background-color: #24246d;
}

.blackKey:active {
	background-color: #13132f;
} 

