* {
	box-sizing: border-box;
}

.piano {
	width: 16em;
    height: 8em;
}

.octave { 
    width: 100%;
    height: 100%;
    display: flex; 
    flex-direction: row;
    position: relative;
}

.whiteKey {
	width: 12.5%;
	height: 100%;
	border: 2px solid black;
    border-right: none;
	position: absolute;
}

.blankKey {
	width: 12.5%;
	height: 100%;
	border-left: 2px solid black;
    border-right: none;
	position: absolute;
}

.blackKey {
	width: 8%;
	height: 65%;
    background-color: black;
    position: absolute;
}