@import "colours.scss";
@import "sizes.scss";
@import "tools.scss";

.piano { 
	height: $height; 
	overflow: auto;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: $background-color;
	border-radius: 1em;
	border: 4px solid $border-color; 
	padding: 0.8em;
}

.piano-controls { 
	@extend %center;
}

.right-piano-controls {
	display: flex;
  flex-direction: column;
  height: 100%;
  row-gap: 4px;
}

.keys-container {
	height: 68%;
	width: 295px; 
}
 
.correct {
	background: $correct-color;
}

.correct:hover {
	background: $correct-color-hover;
}

.incorrect {
	background: $incorrect-color;
}

.incorrect:hover {
	background: $incorrect-color-hover;
} 

/* landscape mode  */
@media screen and (max-width: 295px) {
	.piano { 
	 	transform: rotate(90deg);
	}
}