* {
	box-sizing: border-box;
}

.pianoContainer {
	background-color: green;
	display: flex;
	height: 19em;
}

.piano {  
    height: 100%;
    background-color: blue;
}

.topPiano {
	height: 40%;
	background-color: #cecece;
	
	border-top: 4px solid black;
	border-left: 4px solid black;
	border-right: 4px solid black;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.pianoDisplay { 
	height: 85%;
    width: 37%;
	background-color: white;
	border: 2px solid black;
	border-radius: 0.5em;
}

.keys {
	display: flex;
	justify-content: center;

	height: 60%;
	background-color: #cecece;
	padding-left: 1em;
	padding-right: 1em;

	border-left: 4px solid black;
	border-right: 4px solid black;
	border-bottom: 4px solid black;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
}

.octave {  
	min-width: 23em;
    height: 85%;
    display: flex; 
    flex-direction: row;
    position: relative;
}

.whiteKey {
	width: 12.5%;
	min-width: 1em;
	height: 100%;
	border: 2px solid black;
    border-right: none;
	position: absolute;
	background-color: white;
	z-index: 1;
}

.whiteKey:hover {
	background-color: #2468ff;
}

.whiteKey:active {
	background-color: #0f2a67;
}

.blackKey {
	width: 8%;
	height: 65%;
    background-color: black;
    position: absolute;
   	z-index: 100;
}

.blackKey:hover {
	background-color: #24246d;
}

.blackKey:active {
	background-color: #13132f;
}

.blankKey {
	width: 12.5%;
	height: 100%;
	border-left: 2px solid black;
    border-right: none;
	position: absolute;
}

